body {

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50;
    color: white;
    
}

img {
    margin: 10px;
    width: 100px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

